<footer class="text-center">
<div class="container">
    <div class="row">
        <div class="footer-col col-md-4">
        </div>
        <div class="footer-col col-md-4">
            <div class="portfolio-head text-center">
                <h4>Around the Web</h4>
            </div>
            <br>
            <ul class="list-inline social-buttons">
              <div style="text-align: center;">
                <a style="padding: 4px;" href="https://github.com/mari-linhares"><i class="fa fa-github"></i></a>
                <a style="padding: 4px;" href="https://www.linkedin.com/in/mariannelinharesm"><i class="fa fa-linkedin"></i></a>
                <a style="padding: 4px;" href="https://www.facebook.com/marianne.linhares"><i class="fa fa-facebook"></i></a>
                <a style="padding: 4px;" href="https://plus.google.com/u/0/110616469354929111219/"><i class="fa fa-google-plus"></i></a>
                <a style="padding: 4px;" href="https://twitter.com/hereismari"><i class="fa fa-twitter"></i></a>
              </div>
            </ul>
        </div>
        <div class="footer-col col-md-4">
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
